:root {
  /* Grayscale */
  --black: #000000;
  --white: #FFFFFF;
  --grey-100: #F5F5F5;
  --grey-200: #E5E5E5;
  --grey-300: #C5C5C5;
  --grey-400: #B5B5B5;
  --grey-500: #454545;
  --grey-600: #353535;
  --grey-700: #252525;
  --grey-800: #151515;
}

:root {
  --grid-gap: 1rem;
  --container-grid: 1fr repeat(4, 200px) 1fr;
}

.container-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr (200px)[4] 1fr;
  grid-template-columns: 1fr repeat(4, 200px) 1fr;
  -ms-grid-columns: var(--container-grid);
  grid-template-columns: var(--container-grid);
  padding: 0;
  margin: 0;
  grid-row-gap: 1rem;
  grid-row-gap: var(--grid-gap);
}

h1 {
  color: #000000;
  color: var(--black);
}

h2 {
  color: green;
  color: var(--test);
}
